.experienceList p {
    line-height: 1;
    margin: var(--spacer) 0;
}

.experienceListDetails {
    margin: unset;
    padding: unset;
}

.experienceListHeading {
    font-size: var(--size-h3);
    font-weight: var(--weight-bold);
}

.experienceListPosition {
    text-transform: uppercase;
    letter-spacing: var(--letter-space-m);
    color: var(--clr-accent);
}

.experienceListExtras {
    color: var(--clr-gray);
}

.techStackInline {
    display: inline-flex;
}

@container (min-width: 65ch) {
    .experienceListColumns {
        columns: 2;
    }
}