.footer {
    margin-inline: auto;
    margin-block: var(--spacer-l) var(--spacer);
    padding-inline: var(--spacer-m);
    padding-block: var(--spacer) var(--spacer-l);
    border-top: 2px solid var(--clr-secondary);
    max-width: 100%; 
    width: clamp(var(--container-s), 100vw, var(--container-l));
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacer-m);
}

.a11yWebringClub {
    & h2 {
        font-size: var(--size-h5);
        margin-block: var(--spacer-s);
    }

    & p {
        margin-block: var(--spacer-s);
    }
}

.a11yWebringList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer-s);
}