.techStackList {
    margin-block: var(--spacer);
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer);
}

.techStackListText {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.techStackListLink {
    border-bottom: unset !important;

    &:hover,
    &:focus-visible {
        --skill-icon-fill: var(--clr-accent);
    }
}

.techStackListItemText {
    display: flex;
    align-items: center;
    gap: var(--spacer);
    padding: var(--spacer);
}