.header {
    view-transition-name: header;
    width: 100vw;
    transition: background 100ms ease-in;
    padding: var(--spacer-m) var(--spacer) var(--spacer);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacer);
    position: relative;
}

.site-settings {
    position: absolute;
    top: var(--spacer);
    right: var(--spacer);
}

.headline {
    display: flex;
    align-items: center;
    gap: var(--spacer-m);
    max-width: clamp(var(--container-s), 50vw, var(--container));
    transition: transform 200ms linear;
}

.socials {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
}

.name {
    font-size: var(--size-h1);
    margin: unset;

    & span {
        display: block;
        font-weight: var(--weight-normal);
        margin: var(--spacer) 0;
        font-size: var(--size-h6);
        color: var(--clr-secondary);
    }
}

:global([data-mode="light"]) .headline img {
    filter: sepia(1) brightness(50%) contrast(200%);	
}