.cardWrapper :global(.card) {
    margin-inline: auto;
    margin-block: var(--spacer-l);
    animation: blur-fade-in 450ms ease-in-out both;
    animation-delay: calc(var(--animation-order) * 200ms);
}

:global([data-motion="off"]) {
    .cardWrapper :global(.card) {
        animation: unset !important;
    }
}


@media (prefers-reduced-motion) {
    .cardWrapper :global(.card) {
        animation: unset !important;
    }
}