.blockquote {
    padding: var(--spacer-s) var(--spacer-m);
    max-width: 60ch;
    position: relative;
    line-height: 1.5;
    font-size: var(--size-h6);

    &::before {
        content: '';
        display: block;
        width: 6px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--clr-accent);
        box-shadow: -3px 3px 0 1px var(--clr-primary);
    }

    & cite {
        display: block;
        margin-block: var(--spacer);
    }
}


.details {
    display: block;
    font-size: var(--size-micro);
    color: var(--clr-gray);
    font-style: normal;
}

.name {
    display: block;
    font-size: var(--size-small);
}

.position {
    text-transform: uppercase;
    letter-spacing: var(--letter-space-m);
}

.company {
    display: block;
}