.slider {
    position: relative;
    max-width: 100%;
    margin: 2rem auto;
    width: 60rem;
}

.sliderButton {
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sliderButtonPrev {
    left: 0;
}

.sliderButtonNext {
    right: 0;
}

.sliderButtonVisible {
    opacity: 1;
}

.sliderList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.sliderListItem {
    height: inherit;
    scroll-snap-align: start;
    flex-shrink: 0;

    & :not(:last-child) {
        margin-right: .75rem
    }
}

.sliderListItemSlide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sliderPaginationControls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sliderPaginationControlActive {
    opacity: .7;
}

.sliderPaginationControlBubble {
    --btn-w: .75rem;
    --btn-pad: .25rem;
    height: .75rem !important;
    width: .75rem !important;
    border-radius: 100%
}